In [1]:
import os
import pandas as pd
import glob

In [7]:
#import files 
positions=pd.read_csv('/global/home/users/chandlersutherland/e14/data/all_NLR.bed', sep='\t', header=0, names=['Chromosome', 'start', 'end', 'gene', 'strand'], index_col=False)
positions

input_path='/global/scratch/users/chandlersutherland/e14/STAR_output/htseq_count'

htseq_counts = glob.glob(os.path.join(input_path, "*.tsv"))
htseq_counts

dfs = []

for f in htseq_counts: 
  df= pd.read_csv(f, sep = '\t', names=['Gene', 'count'], index_col=False)
  print('Location:', f)
  filename=f.split('/')[-1].replace('.tsv', '')
  print('File Name:', filename)
  df['filename'] = filename
  dfs.append(df)

dfs

Location: /global/scratch/users/chandlersutherland/e14/STAR_output/htseq_count/SRR17281235.tsv
File Name: SRR17281235
Location: /global/scratch/users/chandlersutherland/e14/STAR_output/htseq_count/SRR17281236.tsv
File Name: SRR17281236
Location: /global/scratch/users/chandlersutherland/e14/STAR_output/htseq_count/SRR17281235_trimmed.tsv
File Name: SRR17281235_trimmed
Location: /global/scratch/users/chandlersutherland/e14/STAR_output/htseq_count/SRR17281234_trimmed.tsv
File Name: SRR17281234_trimmed
Location: /global/scratch/users/chandlersutherland/e14/STAR_output/htseq_count/SRR17281234.tsv
File Name: SRR17281234
Location: /global/scratch/users/chandlersutherland/e14/STAR_output/htseq_count/SRR17281233_trimmed.tsv
File Name: SRR17281233_trimmed
Location: /global/scratch/users/chandlersutherland/e14/STAR_output/htseq_count/SRR17281236_trimmed.tsv
File Name: SRR17281236_trimmed
Location: /global/scratch/users/chandlersutherland/e14/STAR_output/htseq_count/SRR17281233.tsv
File Name: SRR17281233

[                       Gene    count     filename
 0                 AT1G10920      184  SRR17281235
 1                 AT1G12210       84  SRR17281235
 2                 AT1G12220      150  SRR17281235
 3                 AT1G12280      184  SRR17281235
 4                 AT1G12290       62  SRR17281235
 ..                      ...      ...          ...
 133            __no_feature  9699902  SRR17281235
 134             __ambiguous       19  SRR17281235
 135         __too_low_aQual        0  SRR17281235
 136           __not_aligned        0  SRR17281235
 137  __alignment_not_unique   359446  SRR17281235

 [138 rows x 3 columns],                        Gene     count     filename
 0                 AT1G10920       420  SRR17281236
 1                 AT1G12210       112  SRR17281236
 2                 AT1G12220       513  SRR17281236
 3                 AT1G12280       409  SRR17281236
 4                 AT1G12290       140  SRR17281236
 ..                      ...       ...          ...
 133            __no_feature  13714677  SRR17281236
 134             __ambiguous        44  SRR17281236
 135         __too_low_aQual         0  SRR17281236
 136           __not_aligned         0  SRR17281236
 137  __alignment_not_unique    479409  SRR17281236

 [138 rows x 3 columns],                        Gene    count             filename
 0                 AT1G10920      184  SRR17281235_trimmed
 1                 AT1G12210       80  SRR17281235_trimmed
 2                 AT1G12220      149  SRR17281235_trimmed
 3                 AT1G12280      178  SRR17281235_trimmed
 4                 AT1G12290       62  SRR17281235_trimmed
 ..                      ...      ...                  ...
 133            __no_feature  9571862  SRR17281235_trimmed
 134             __ambiguous       22  SRR17281235_trimmed
 135         __too_low_aQual        0  SRR17281235_trimmed
 136           __not_aligned        0  SRR17281235_trimmed
 137  __alignment_not_unique   402388  SRR17281235_trimmed

 [138 rows x 3 columns],                        Gene     count             filename
 0                 AT1G10920       362  SRR17281234_trimmed
 1                 AT1G12210        95  SRR17281234_trimmed
 2                 AT1G12220       317  SRR17281234_trimmed
 3                 AT1G12280       357  SRR17281234_trimmed
 4                 AT1G12290       114  SRR17281234_trimmed
 ..                      ...       ...                  ...
 133            __no_feature  13207416  SRR17281234_trimmed
 134             __ambiguous        30  SRR17281234_trimmed
 135         __too_low_aQual         0  SRR17281234_trimmed
 136           __not_aligned         0  SRR17281234_trimmed
 137  __alignment_not_unique    556526  SRR17281234_trimmed

 [138 rows x 3 columns],                        Gene     count     filename
 0                 AT1G10920       363  SRR17281234
 1                 AT1G12210        94  SRR17281234
 2                 AT1G12220       321  SRR17281234
 3                 AT1G12280       353  SRR17281234
 4                 AT1G12290       114  SRR17281234
 ..                      ...       ...          ...
 133            __no_feature  13384498  SRR17281234
 134             __ambiguous        32  SRR17281234
 135         __too_low_aQual         0  SRR17281234
 136           __not_aligned         0  SRR17281234
 137  __alignment_not_unique    508695  SRR17281234

 [138 rows x 3 columns],                        Gene     count             filename
 0                 AT1G10920       263  SRR17281233_trimmed
 1                 AT1G12210       100  SRR17281233_trimmed
 2                 AT1G12220       185  SRR17281233_trimmed
 3                 AT1G12280       284  SRR17281233_trimmed
 4                 AT1G12290        48  SRR17281233_trimmed
 ..                      ...       ...                  ...
 133            __no_feature  13825256  SRR17281233_trimmed
 134             __ambiguous        28  SRR17281233_trimmed
 135         __too_low_aQual         0  SRR17281233_trimmed
 136           __not_aligned         0  SRR17281233_trimmed
 137  __alignment_not_unique    572550  SRR17281233_trimmed

 [138 rows x 3 columns],                        Gene     count             filename
 0                 AT1G10920       412  SRR17281236_trimmed
 1                 AT1G12210       112  SRR17281236_trimmed
 2                 AT1G12220       508  SRR17281236_trimmed
 3                 AT1G12280       404  SRR17281236_trimmed
 4                 AT1G12290       136  SRR17281236_trimmed
 ..                      ...       ...                  ...
 133            __no_feature  13524875  SRR17281236_trimmed
 134             __ambiguous        39  SRR17281236_trimmed
 135         __too_low_aQual         0  SRR17281236_trimmed
 136           __not_aligned         0  SRR17281236_trimmed
 137  __alignment_not_unique    522843  SRR17281236_trimmed

 [138 rows x 3 columns],                        Gene     count     filename
 0                 AT1G10920       267  SRR17281233
 1                 AT1G12210       100  SRR17281233
 2                 AT1G12220       184  SRR17281233
 3                 AT1G12280       291  SRR17281233
 4                 AT1G12290        49  SRR17281233
 ..                      ...       ...          ...
 133            __no_feature  14026577  SRR17281233
 134             __ambiguous        31  SRR17281233
 135         __too_low_aQual         0  SRR17281233
 136           __not_aligned         0  SRR17281233
 137  __alignment_not_unique    527923  SRR17281233

 [138 rows x 3 columns]]

In [9]:
hv_status = pd.DataFrame(columns=['Gene', 'HV'])
hv_status[['Gene', 'HV']] = positions.gene.str.split('_', expand = True)
hv_status

          Gene HV
0    AT1G10920  0
1    AT1G12210  0
2    AT1G12220  0
3    AT1G12280  0
4    AT1G12290  0
..         ... ..
127  AT5G51630  0
128  AT5G58120  0
129  AT5G63020  0
130  AT5G66900  0
131  AT5G66910  0

[132 rows x 2 columns]

In [10]:
def merger2(depth, hv_status):
  counts = pd.merge(depth, hv_status)
  #return counts
  return counts.groupby(['filename', 'HV']).agg(
        mean_count=('count', 'mean'),
  )

In [12]:
summary2 = [merger2(i, hv_status) for i in dfs]
raw_counts = pd.concat(summary2)
raw_counts

                         mean_count
filename            HV
SRR17281235         0    175.617647
                    1    587.066667
SRR17281236         0    380.156863
                    1   1188.933333
SRR17281235_trimmed 0    173.323529
                    1    570.833333
SRR17281234_trimmed 0    305.245098
                    1   1006.800000
SRR17281234         0    309.088235
                    1   1034.933333
SRR17281233_trimmed 0    230.901961
                    1    774.633333
SRR17281236_trimmed 0    375.637255
                    1   1156.833333
SRR17281233         0    234.539216
                    1    796.200000